

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    caret-color: transparent;
    user-select: none;
}
body::-webkit-scrollbar {
	display: none; 
}
a { text-decoration: none; }
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:active { text-decoration: none; color:white; }

a { color: white;}

#logo2 {
    position: fixed;
    top: 80vh;
    left: 80vw;
    z-index: 100000;
    height: 10%;
    width: 13%;
}

@keyframes zoom {
    0% {scale: 1}
    50% {scale: 1.01}
    100% {scale: 1}
}

@font-face { font-family: SpaceAge; src: url('./Fonts/SpaceAgeFont/SpaceAge.otf'); } 
h1 {
   font-family: SpaceAge;
}

@font-face { font-family: HP; src: url('./Fonts/HarryPotterFont/HP.TTF'); } 
h1 {
   font-family: HP;
}


@font-face { font-family: LOTR; src: url('./Fonts/LOTRfont1/LOTR.TTF'); } 
h1 {
   font-family: LOTR;
}

@font-face { font-family: LOTR2; src: url('./Fonts/LOTRfont/LOTR.TTF'); } 
h1 {
   font-family: LOTR2;
}

@font-face { font-family: FB; src: url('./Fonts/FantasticBeasts/FB.otf'); } 
h1 {
   font-family: FB;
}

@font-face { font-family: SW; src: url('./Fonts/StarWarsFont/SW.otf'); } 
h1 {
   font-family: SW;
}

@font-face { font-family: MX; src: url('./Fonts/MatrixFont/matrix.ttf'); } 
h1 {
   font-family: MX;
}

@font-face { font-family: ST; src: url('./Fonts/StarTrekFont/StarTrek.ttf'); } 
h1 {
   font-family: ST;
}

@font-face { font-family: MIB; src: url('./Fonts/MenInBlackFont/Men\ In\ Black.ttf'); } 
h1 {
   font-family: MIB;
}

@font-face { font-family: AL; src: url('./Fonts/AlienFont/AlienFont.ttf'); } 
h1 {
   font-family: AL;
}

@font-face { font-family: POA; src: url('./Fonts/PlanetOfApesFont/POA.ttf'); } 
h1 {
   font-family: POA;
}

@font-face { font-family: TM; src: url('./Fonts/TheMummyFont/TheMummy.ttf'); } 
h1 {
   font-family: TM;
}

@font-face { font-family: TF; src: url('./Fonts/TransformersFont/TransformersFont.ttf'); } 
h1 {
   font-family: TF;
}

@font-face { font-family: JP; src: url('./Fonts/JurassicParkFont/JurassicParkFont.ttf'); } 
h1 {
   font-family: JP;
}

@font-face { font-family: TA; src: url('./Fonts/AvengersFont/AVENGEANCE\ HEROIC\ AVENGER\ BD.otf'); } 
h1 {
   font-family: TA;
}


#header {
    position: absolute;
    z-index: 1000;
    font-size: 6vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 30vh;
    width: 100vw;
    background: linear-gradient(grey, black);
    background-size: cover;
    background-position: 50% 20%;
}

#header1 {
    display: block;
    height: 35vh;
    background-color: black;

}
#subtitle {
    position: absolute;
    text-shadow:1px 1px rgb(6, 119, 33);
    top: 22vh;
    height: 100px;
    width: 700px;
    background-color: transparent;
    z-index: 1000;
    font-family: SpaceAge;
}


#HP {
    color: white;
    height: 20vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
#TitleDividerN {
    text-shadow: 1px 1px grey;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 2vh;
}
#copyright {
    color: white;
    font-family: Arial;
}
#title1 {
    font-family: 'HP', sans-serif;
}
#TitleDivider1 {
    text-shadow: 1px 1px white;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://images.ctfassets.net/usf1vwtuqyxm/3QQaEkThAnIAiXveGhJYD9/f79a571dbe9fd456d65e783040601fdc/hogwarts-castle-.jpg");
    background-position: 100% 100%;
    background-size: cover;
    color: rgb(189, 189, 189);
    font-family: 'HP', sans-serif;
    font-size: 10vh;
    animation: slider2 200s infinite;
}

[id*='HP'] {

    font-family: 'HP', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: 50% 50%;
    background-size: cover;
  
    height: 20vh;
}

[id*='title1'] {
    display: block;
}
[id*='top1'] {
    height: 10vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom1'] {
    
    display: block;
    font-size: 3.5vh;
}
#HP1 {    
    background-image: url("./ASSETS/HP1.png");
    background-position: 50% 0%;
}
#HP2 {    
    background-image: url("./ASSETS/HP2.png");
}
#HP3 {    
    background-image: url("./ASSETS/HP3.png");
    background-position: 0% 50%;
}
#HP4 {    
    background-image: url("./ASSETS/HP4.png");
}
#HP5 {    
    background-image: url("./ASSETS/HP5.png");
}
#HP6 {    
    background-image: url("./ASSETS/HP6.png");
}
#HP7 {    
    background-image: url("./ASSETS/HP7.png");
}
#HP8 {    
    background-image: url("./ASSETS/HP8.png");
}


#FB {
    font-size: 3vh;
    color: white;

    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#TitleDivider2 {
    text-shadow: 1px 1px white;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://i.pinimg.com/originals/27/a7/e7/27a7e7da564f6bad14324a7af82ff8f4.jpg");
    background-position: 50% 40%;
    background-size: cover;
    color: rgb(82, 10, 37);
    font-family: 'FB', sans-serif;
    font-size: 10vh;
    animation: slider 200s infinite;
}
[id*='FB'] {
    font-family: 'FB', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}
[id*='top2'] {
    height: 14vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom2'] {
    
    display: block;
    font-size: 4.8vh;
}
#FB1 {    
    background-image: url("./ASSETS/FB1.png");
    background-position: 50% 10%;
}
#FB2 {    
    background-image: url("./ASSETS/FB2.png");
    background-position: 50% 30%;
}
#FB3 {    
    background-image: url("./ASSETS/FB3.png");
    background-position: 50% 10%;
}

#LOTR {
    font-size: 3vh;
    color: white;

    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
[id*='LOTR'] {
    font-family: 'LOTR2', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}
#TitleDivider3 {
    text-shadow: 1px 1px green;
    height: 12vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://wallpaperaccess.com/full/8168045.png");
    background-position: 50% 30%;
    background-size: cover;
    color: beige;
    font-family: 'LOTR', sans-serif;
    font-size: 4vh;
    animation: slider2 200s infinite;
}
[id*='top3'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom3'] {
    
    display: block;
    font-size: 3vh;
}
#LOTR1 {    
    background-image: url("./ASSETS/LOTR1.png");
    background-position: 50% 50%;
}
#LOTR2 {    
    background-image: url("./ASSETS/LOTR2.png");
    background-position: 50% 50%;
}
#LOTR3 {    
    background-image: url("./ASSETS/LOTR3.png");
    background-position: 50% 50%;
}


#Hobbit {
    font-size: 3vh;
    color: white;

    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
[id*='Hobbit'] {
    font-family: 'LOTR', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}
#TitleDivider4 {
    text-shadow: 1px 1px rgb(255, 255, 255);
    height: 12vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://wallpapercave.com/wp/wp2374406.png");
    background-position: 50% 40%;
    background-size: cover;
    color: rgb(44, 38, 29);
    font-family: 'LOTR2', sans-serif;
    font-size: 6vh;
    animation: slider 200s infinite;
}
[id*='top4'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom4'] {
    
    display: block;
    font-size: 2vh;
}
#Hobbit1 {    
    background-image: url("./ASSETS/H1.png");
    background-position: 50% 50%;
}
#Hobbit2 {    
    background-image: url("./ASSETS/H2.png");
    background-position: 50% 50%;
}
#Hobbit3 {    
    background-image: url("./ASSETS/H3.png");
    background-position: 50% 50%;
    background-size: cover;
}


#SW {
    font-size: 3vh;
    color: yellow;
    font-family: monospace;
    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
#TitleDivider5 {
    text-shadow: 1px 1px white;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://static.wikia.nocookie.net/8aa00fbd-ab46-4d12-8c88-06952c1e5c60");
    background-position: 50% 50%;
    background-size: cover;

    color: yellow;
    font-family: 'SW', sans-serif;
    font-size: 7vh;
    animation: slider2 200s infinite;
}
[id*='SW'] {
    font-family: 'SW', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}

[id*='title'] {
    display: block;
}
[id*='top5'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom5'] {
    
    display: block;
    font-size: 1.9vh;
}
#SW1 {    
    background-image: url("./ASSETS/SW1.png");
}
#SW2 {    
    background-image: url("./ASSETS/SW2.png");
}
#SW3 {    
    background-image: url("./ASSETS/SW3.png");
}
#SW4 {    
    background-image: url("./ASSETS/SW4.png");
}
#SW5 {    
    background-image: url("./ASSETS/SW5.png");
}
#SW6 {    
    background-image: url("./ASSETS/SW6.png");
}
#SW7 {    
    background-image: url("./ASSETS/SW7.png");
}
#SW8 {    
    background-image: url("./ASSETS/SW8.png");
}
#SW9 {    
    background-image: url("./ASSETS/SW9.png");
}


#Matrix {
    font-size: 3vh;
    color: white;

    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
[id*='Matrix'] {
    font-family: 'MX', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}
#TitleDivider6 {
    text-shadow: 1px 1px white;
    height: 12vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://i.pinimg.com/originals/1d/a3/66/1da3663ce1d7d0f6098a31a667e862b4.gif");
    color: rgb(12, 236, 65);
    font-family: 'MX', sans-serif;
    font-size: 8vh;
    
}
[id*='top6'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom6'] {
    
    display: block;
    font-size: 4vh;
}
#Matrix1 {    
    background-image: url("./ASSETS/M1.png");
    background-position: 50% 20%;
}
#Matrix2 {    
    background-image: url("./ASSETS/M2.png");
    background-position: 50% 20%;
}
#Matrix3 {    
    background-image: url("./ASSETS/M3.png");
    background-position: 50% 50%;
    background-size: cover;
}
#Matrix4 {    
    background-image: url("./ASSETS/M4.png");
    background-position: 50% 50%;
    background-size: cover;
}


#StarTrek {
    font-size: 3vh;
    color: white;

    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
[id*='StarTrek'] {
    font-family: 'ST', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}
#TitleDivider7 {
    text-shadow: 1px 1px blue;
    height: 12vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://media.npr.org/assets/img/2022/12/23/52259221868_b757d6cdea_k2_wide-946db536f329b9de338ef2a9a8768441c40d288f.jpg");
    background-position: 50% 40%;
    background-size: cover;
    color: white;
    font-family: 'ST', sans-serif;
    font-size: 10vh;
    animation: slider2 200s infinite;
}
[id*='top7'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom7'] {
    
    display: block;
    font-size: 5vh;
}
#StarTrek1 {    
    background-image: url("./ASSETS/ST1.png");
    background-position: 50% 30%;
}
#StarTrek2 {    
    background-image: url("./ASSETS/ST2.png");
    background-position: 50% 20%;
}



#MenInBlack {
    font-size: 3vh;
    color: white;

    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
[id*='MenInBlack'] {
    font-family: 'MIB', sans-serif;
    text-shadow: 2px 2px brown;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}
#TitleDivider8 {
    text-shadow: 1px 1px brown;
    padding: 1px;
    height: 12vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://parispeaceforum.org/wp-content/uploads/2021/10/NET-ZERO-SPACE-INITIATIVE-1.png");
    background-position: 50% 40%;
    background-size: cover;
    color: white;
    font-family: 'MIB', sans-serif;
    font-size: 20vh;
    animation: slider 200s infinite;
}
[id*='top8'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom8'] {
    
    display: block;
    font-size: 13vh;
}
#MenInBlack1 {    
    background-image: url("./ASSETS/MIB1.png");
    background-position: 50% 50%;
}
#MenInBlack2 {    
    background-image: url("./ASSETS/MIB2.png");
    background-position: 50% 50%;
}
#MenInBlack3 {    
    background-image: url("./ASSETS/MIB3.png");
    background-position: 50% 50%;
    background-size: cover;
}


#AL {
    font-weight: bold;
    color: white;
    font-family: Arial;
    height: 20vh;
    background-color: black;
    background-position: cover;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
#TitleDivider9 {
    text-shadow: 2px 2px rgb(1, 161, 1);
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://images.indianexpress.com/2022/06/Space-news-this-week-220619.jpg");
    background-position: 80% 40%;
    background-size: cover;
    color: white;
    font-family: 'AL', sans-serif;
    font-size: 5vh;
    animation: slider2 200s infinite;
}


[id*='AL'] {

    font-family: arial;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-position: 50% 50%;
    background-size: cover;
  
    height: 20vh;
}

[id*='title'] {
    display: block;
}
[id*='top9'] {
    height: 13vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom9'] {
    
    display: block;
    font-size: 3vh;
}
#AL1 {    
    background-image: url("./ASSETS/AL1.png");
    background-size: cover;
    background-position: 50% 50%;
}
#AL2 {    
    background-image: url("./ASSETS/AL2.png");
    background-size: cover;
    background-position: 50% 50%;
}
#AL3 {    
    background-image: url("./ASSETS/AL3.png");
    background-size: cover;
    background-position: 50% 50%;
}
#AL4 {    
    background-image: url("./ASSETS/AL4.png");
    background-size: cover;
    background-position: 50% 50%;
}
#AL5 {    
    background-image: url("./ASSETS/AL5.png");
    background-size: cover;
    background-position: 50% 50%;
}
#AL6 {    
    background-image: url("./ASSETS/AL6.png");
    background-size: cover;
    background-position: 50% 50%;
}


#PlanetOfApes {
    font-size: 3vh;
    color: white;

    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
[id*='PlanetOfApes'] {
    font-family: 'POA', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}
#TitleDivider10 {
    text-shadow: 1px 1px white;
    padding: 1px;
    height: 12vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://images.squarespace-cdn.com/content/v1/524310dee4b08d2a84faa6de/1582250652303-LL2H5VSW58CUGQ5OTQGU/hiking+in+muir+woods-26.jpg?format=1000w");
    background-position: 30% 30%;
    background-size: cover;
    color: grey;
    font-family: 'POA', sans-serif;
    font-size: 5vh;
    animation: slider 200s infinite;
}
[id*='top10'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom10'] {
    
    display: block;
    font-size: 2.5vh;
}
#PlanetOfApes1 {    
    background-image: url("./ASSETS/POA1.png");
    background-position: 50% 50%;
}
#PlanetOfApes2 {    
    background-image: url("./ASSETS/POA2.png");
    background-position: 50% 50%;
}
#PlanetOfApes3 {    
    background-image: url("./ASSETS/POA3.png");
    background-position: 50% 50%;
    background-size: cover;
}

#TheMummy {
    font-size: 3vh;
    color: white;

    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
[id*='TheMummy'] {
    font-family: 'TM';
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}
#TitleDivider11 {
    text-shadow: 1px 1px rgb(0, 0, 0);
    padding: 1px;
    height: 12vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://www.britishmuseum.org/sites/default/files/styles/bm_gallery_medium_700h/public/2022-06/Hieroglyphs_unlocking_ancient_Egypt_hero.jpg?itok=CoQzKChb");
    background-position: 30% 30%;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: 'TM', sans-serif;
    font-size: 5vh;
    animation: slider2 200s infinite;
}
[id*='top11'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom11'] {
    
    display: block;
    font-size: 3vh;
}
#TheMummy1 {    
    background-image: url("./ASSETS/TM1.png");
    background-position: 50% 50%;
}
#TheMummy2 {    
    background-image: url("./ASSETS/TM2.png");
    background-position: 50% 30%;
}
#TheMummy3 {    
    background-image: url("./ASSETS/TM4.png");
    background-position: 50% 50%;
    background-size: cover;
}
#title11 {
    display: block;
}
#one {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vh;
}
#two {
    font-size: 4vh;
}

#big {
    
    display: inline;
    font-size: 6vh;
}


#Transformers {
    font-size: 3vh;
    color: white;

    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
[id*='Transformers'] {
    font-family: 'TF', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}
#TitleDivider12 {
    text-shadow: 1px 1px white;
    padding: 1px;
    height: 12vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://i.pinimg.com/originals/05/49/f4/0549f4481e9ead80f6bd0174dc204a67.jpg");
    background-position: 50% 42%;
    background-size: cover;
    color: grey;
    font-family: 'TF', sans-serif;
    font-size: 7vh;
    animation: slider 200s infinite;
}

[id*='top10'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom10'] {
    
    display: block;
    font-size: 2.5vh;
}
#Transformers1 {    
    background-image: url("./ASSETS/TF1.png");
    background-position: 50% 50%;
}
#Transformers2 {    
    background-image: url("./ASSETS/TF2.png");
    background-position: 50% 20%;
}
#Transformers3 {    
    background-image: url("./ASSETS/TF3.png");
    background-position: 50% 40%;
    background-size: cover;
}
#Transformers4 {    
    background-image: url("./ASSETS/TF4.png");
    background-position: 50% 50%;
    background-size: cover;
}


#JurassicPark {
    font-size: 3vh;
    color: white;

    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
[id*='JurassicPark'] {
    font-family: 'JP', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}
#TitleDivider13 {
    text-shadow: 1px 1px red;
    padding: 1px;
    height: 12vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/55cea026091667.5634f77aab167.jpg");
    background-position: 50% 32%;
    background-size: cover;
    color: white;
    font-family: 'JP', sans-serif;
    font-size: 13vh;
    animation: slider2 200s infinite;
}
[id*='top13'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom13'] {
    
    display: block;
    font-size: 5vh;
}
#JurassicPark1 {    
    background-image: url("./ASSETS/JP1.png");
    background-position: 50% 50%;
}
#JurassicPark2 {    
    background-image: url("./ASSETS/JP2.png");
    background-position: 50% 50%;
}
#JurassicPark3 {    
    background-image: url("./ASSETS/JP3.png");
    background-position: 50% 50%;
    background-size: cover;
}
#JurassicPark4 {    
    background-image: url("./ASSETS/JP4.png");
    background-position: 50% 50%;
    background-size: cover;
}
#JurassicPark5 {    
    background-image: url("./ASSETS/JP5.png");
    background-position: 30% 30%;
    background-size: cover;
}


#Avengers {
    font-size: 3vh;
    color: white;

    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
[id*='Avengers'] {
    font-family: 'TA', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}
#TitleDivider14 {
    text-shadow: 1px 1px red;
    padding: 1px;
    height: 12vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("https://pbs.twimg.com/media/EVLolo6U0AEDHTM.jpg:large");
    background-position: 0% 0%;
    background-size: cover;
    color: white;
    font-family: 'TA', sans-serif;
    font-size: 7vh;
    animation: slider 200s infinite;
}



[id*='top14'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom14'] {
    
    display: block;
    font-size: 2.6vh;
}
#Avengers1 {    
    background-image: url("./ASSETS/TA1.png");
    background-position: 50% 50%;
}
#Avengers2 {    
    background-image: url("./ASSETS/TA2.png");
    background-position: 50% 50%;
}
#Avengers3 {    
    background-image: url("./ASSETS/TA3.png");
    background-position: 50% 50%;
    background-size: cover;
}
#Avengers4 {    
    background-image: url("./ASSETS/TA4.png");
    background-position: 50% 50%;
    background-size: cover;
}

@keyframes slider {
    0% {background-position: 0% 0%;}
    50% {background-position: 100% 100%;}
    100% {background-position: 0% 0%;}
}


@keyframes slider2 {
    0% {background-position: 100% 100%;}
    50% {background-position: 0% 0%;}
    100% {background-position: 100% 100%;}
}