

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    caret-color: transparent;
}
body::-webkit-scrollbar {
	display: none; 
}
a { text-decoration: none; }
a:visited { text-decoration: none; color:whitesmoke; }
a:hover { text-decoration: none; color:whitesmoke; }
a:focus { text-decoration: none; color:whitesmoke; }
a:active { text-decoration: none; color:whitesmoke; }

@keyframes zoom {
    0% {scale: 1}
    50% {scale: 1.01}
    100% {scale: 1}
}

@font-face { font-family: LOTR; src: url('./Fonts/LOTRfont1/LOTR.TTF'); } 
h1 {
   font-family: LOTR;
}

@font-face { font-family: LOTR2; src: url('./Fonts/LOTRfont/LOTR.TTF'); } 
h1 {
   font-family: LOTR2;
}

@font-face { font-family: FB; src: url('./Fonts/FantasticBeasts/FB.otf'); } 
h1 {
   font-family: FB;
}

@font-face { font-family: SW; src: url('./Fonts/StarWarsFont/SW.otf'); } 
h1 {
   font-family: SW;
}

#header {
    position: fixed;
    z-index: 1000;
    font-size: 6vh;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 25vh;
    width: 100vw;
    background: linear-gradient(grey, black);
}

#header1 {
    display: block;
    height: 25vh;
    background-color: transparent;

}



#HP {
    font-size: 3vh;
    color: white;
    font-family: monospace;
    height: 20vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
#HP1 {
    font-size: 3vh;
    color: white;
    font-family: monospace;
    height: 20vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    animation: zoom 10s;
}
#TitleDivider1 {
    text-shadow: 1px 1px white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: silver;
    font-family: 'Harry Potter', sans-serif;
    font-size: 7vh;
}
[id*='HP'] {
    font-family: 'Harry Potter', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}

[id*='title'] {
    display: block;
}
[id*='top1'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom1'] {
    
    display: block;
    font-size: 1.9vh;
}
#HP1 {    
    background-image: url("./ASSETS/HP1.png");
}
#HP2 {    
    background-image: url("./ASSETS/HP2.png");
}
#HP3 {    
    background-image: url("./ASSETS/HP3.png");
}
#HP4 {    
    background-image: url("./ASSETS/HP4.png");
}
#HP5 {    
    background-image: url("./ASSETS/HP5.png");
}
#HP6 {    
    background-image: url("./ASSETS/HP6.png");
}
#HP7 {    
    background-image: url("./ASSETS/HP7.png");
}
#HP8 {    
    background-image: url("./ASSETS/HP8.png");
}


#FB {
    font-size: 3vh;
    color: white;

    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#TitleDivider2 {
    text-shadow: 1px 1px white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    background-size: cover;
    background-position: 50% 65%;
    color: rgb(58, 0, 34);
    font-family: 'FB', sans-serif;
    font-size: 10vh;
}
[id*='FB'] {
    font-family: 'FB', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}
[id*='top2'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom2'] {
    
    display: block;
    font-size: 4vh;
}
#FB1 {    
    background-image: url("./ASSETS/FB1.png");
    background-position: 50% 10%;
}
#FB2 {    
    background-image: url("./ASSETS/FB2.png");
    background-position: 50% 30%;
}
#FB3 {    
    background-image: url("./ASSETS/FB3.png");
    background-position: 50% 10%;
}

#LOTR {
    font-size: 3vh;
    color: white;

    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
[id*='LOTR'] {
    font-family: 'LOTR2', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}
#TitleDivider3 {
    text-shadow: 1px 1px green;
    height: 10vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: beige;
    font-family: 'LOTR', sans-serif;
    font-size: 5vh;
}
[id*='top3'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom3'] {
    
    display: block;
    font-size: 3vh;
}
#LOTR1 {    
    background-image: url("./ASSETS/LOTR1.png");
    background-position: 50% 50%;
}
#LOTR2 {    
    background-image: url("./ASSETS/LOTR2.png");
    background-position: 50% 50%;
}
#LOTR3 {    
    background-image: url("./ASSETS/LOTR3.png");
    background-position: 50% 50%;
}


#Hobbit {
    font-size: 3vh;
    color: white;

    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
[id*='Hobbit'] {
    font-family: 'LOTR', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}
#TitleDivider4 {
    text-shadow: 1px 1px brown;
    height: 10vh;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: tan;
    font-family: 'LOTR2', sans-serif;
    font-size: 6vh;
}
[id*='top4'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom4'] {
    
    display: block;
    font-size: 2vh;
}
#Hobbit1 {    
    background-image: url("./ASSETS/H1.png");
    background-position: 50% 50%;
}
#Hobbit2 {    
    background-image: url("./ASSETS/H2.png");
    background-position: 50% 50%;
}
#Hobbit3 {    
    background-image: url("./ASSETS/H3.png");
    background-position: 50% 50%;
    background-size: cover;
}


#SW {
    font-size: 3vh;
    color: yellow;
    font-family: monospace;
    height: 20vh;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}
#TitleDivider5 {
    text-shadow: 1px 1px white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    background-size: cover;
    background-position: 50% 50%;
    color: yellow;
    font-family: 'SW', sans-serif;
    font-size: 8vh;
}
[id*='SW'] {
    font-family: 'SW', sans-serif;
    text-shadow: 2px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-size: cover;
    background-position: 50% 50%;
    height: 20vh;
}

[id*='title'] {
    display: block;
}
[id*='top5'] {
    height: 12vh;
    display: block;
    font-size: 4vh;
}
[id*='bottom5'] {
    
    display: block;
    font-size: 1.9vh;
}
#SW1 {    
    background-image: url("./ASSETS/SW1.png");
}
#SW2 {    
    background-image: url("./ASSETS/SW2.png");
}
#SW3 {    
    background-image: url("./ASSETS/SW3.png");
}
#SW4 {    
    background-image: url("./ASSETS/SW4.png");
}
#SW5 {    
    background-image: url("./ASSETS/SW5.png");
}
#SW6 {    
    background-image: url("./ASSETS/SW6.png");
}
#SW7 {    
    background-image: url("./ASSETS/SW7.png");
}
#SW8 {    
    background-image: url("./ASSETS/SW8.png");
}
#SW9 {    
    background-image: url("./ASSETS/SW9.png");
}